/* src/App.css */
.search-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.recipe-list {
    margin-bottom: 40px;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-item {
    width: calc(50% - 10px); /* Два элемента в ряду */
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.recipe-item h4 {
    font-size: 18px;
    margin: 0;
}

.recipe-item p {
    margin: 5px 0;
}

.error {
    color: red;
}
