/* src/App.css */
.search-container {
    padding: 20px;
    max-width: 100%;
    margin: 0;
}
.recipe-image{
    margin-bottom: 10px;
    margin-top: 0;
}

.recipe-list {
    margin-bottom: 40px;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-item {
    width: calc(50% - 10px); /* Два элемента в ряду */
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recipe-item h4 {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}
.recipe-wrapper{
    opacity: 0.3;
    height: 1px;
    width: 70%;
    background: #333;
    margin-bottom: 10px;
}
.recipe-item p {
    font-size: 20px;
    color: #333;
    font-weight: bolder;
}
.recipe-item p span {
font-weight: normal;
}
.details-button{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-decoration: none;
}
.details-button .button-container{
    background: #28a745;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 8px;
}
.details-button .button-container p{
color: white;
}
.error {
    color: red;
}

/* Добавляем стиль для кнопки "Загрузить еще" */
.load-more {
    display: block; /* Делает кнопку блочным элементом */
    margin: 20px auto; /* Центрирует кнопку */
    padding: 10px 20px;
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.load-more:hover {
    background-color: #45a049; /* Немного темнее при наведении */
}
